# Dependencias principales para la generación de PDF
reportlab==3.6.8

# CustomTkinter para la interfaz de usuario moderna
customtkinter==5.0.3

# Opcional: biblioteca para manejar imágenes, si necesitas procesar imágenes para los PDFs
Pillow==9.0.1

# Opcional: para pruebas unitarias más allá de las capacidades estándar de unittest
unittest2==1.1.0  # Solo si usas características que no están en unittest

# Opcional: para aplicaciones web que puedan interactuar con tu sistema de traducción a braille
flask==2.0.3

# Opcional: para manejo de localización o codificación de caracteres
pycountry==20.7.3
